.div-container {
	max-width: 600px;
	margin:0 auto;
	font-family: 'Source Sans Pro','Helvetica Neue',Helvetica,Arial,sans-serif;
    font-weight: 400;
    overflow-x: hidden;
    overflow-y: auto;
}



#img-wrap
{
 	width:100px;
 	height: 100px;
  	margin:0 auto;
}

#circle
{
  width:100px;
  height:100px;
  border:2px solid #3c8dbc;
  border-radius: 100px;
  overflow: hidden;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#circle img{
  width:100px;
  height:100px;
}


.div-content{
	border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    padding: 10px;   
    border-bottom: 3px solid #d2d6de;
    border-left: 1px solid #d2d6de;
    border-right: 1px solid #d2d6de;
	position: relative;
    border-radius: 3px;
    background: #ffffff;
    border-top: 3px solid #d2d6de;
    margin-bottom: 20px;
    width: 100%;
    box-shadow: 0 1px 1px rgb(0 0 0 / 10%);
    border-top-color: #3c8dbc;
    border-bottom-color: #3c8dbc;
    margin-top:20px;
    background: url(http://localhost/ks20/assets/css/bgtrongdong.png) top center no-repeat;
}

.label{
    font-size: 75%;
    font-weight: 700;
    line-height: 15px;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25em;
    font-size: 100%;
    font-weight: bold;
    background-color: #00a65a;
    text-decoration: none;
    border:1px solid #00a65a;
    border-radius: 5px;
}

.label-cou{
	font-weight: bold;
	font-style: italic;
	color:red;
}
			